// vars
$theme-colors: (
"primary": #2a3037,
"secondary": #f8c51c,
"gray2": #283037,
"gray3": #dddddd,
"gray4": #eeeeee,
"gray6": #f4f4f4
);

$line-height: 2;

// shared
@font-face {
  font-family: Gentium;
  src: url(../font/GentiumPlus-R.woff);
}
@font-face {
  font-family: Gentium;
  font-style: italic;
  src: url(../font/GentiumPlus-I.woff);
}

$font-family-serif: Gentium;
$font-family-base: $font-family-serif;

@import "./bootstrap/bootstrap";

body {
	background-color: $gray-100;
	overflow: hidden;
}

h3 {
	text-transform: uppercase;
	color: $gray-500;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base * 0.8;
}

h1 {
	font-size: $font-size-base * 1.5;
	font-weight: $font-weight-bold;
}

span {
	line-height: 2;
}

.sidebar-left {
	background-color: theme-color("primary");
}

.sidebar-right {
	background-color: $gray-200;
}

// notes page
#transcript {
	height: 98% !important;
	overflow: scroll;
}

#transcript::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

#white-overlay {
	background: linear-gradient($gray-100, #FFFFFF00);
	position: absolute;
	left: 0;
	pointer-events: none;
}

// highlight
span {
	background-color: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.highlight {
	background-color: theme-color("secondary");
}

.interim {
	color: $gray-500;
}

